{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% comment %}
<head>
  <title>Iniciar sesión - Django Store</title>
  <link rel="shortcut icon" href="{% static 'icons/security.svg' %}" />
</head>
{% endcomment %}

    <div class="mt-10 m-auto max-w-min bg-white rounded-lg shadow-xl">
        <h1 class="text-center text-4xl py-10">Iniciar Sesión</h1>

        <div class="flex justify-center items-center">
            <div class="pl-8 pb-24 pt-9 text-center">
                <img
                        class="max-w-15rem mb-5 m-auto"
                        src="{% static 'icons/login.svg' %}"
                        alt="Icono login"
                />
                
            </div>
            <div class="p-10">
                <form method="post">
                    {% csrf_token %}

                    <div>
                        <label class="block text-left mb-1" for="username">Nombre de usuario</label>
                        <input type="text" name="username" placeholder="Su usuario"
                            class="p-1 mt-1 w-52 | border-2 border-blue-icons rounded-md | transition-shadow | focus:shadow-lg focus:outline-none focus:ring-4 focus:ring-blue-300 focus:ring-opacity-50"
                        >
                    </div>

                    <div class="mt-10 mb-4">
                        <label class="block text-left mb-1" for="password">Contraseña<a href=""></a></label>
                        <input type="password" name="password" placeholder="Su contraseña"
                            class="p-1 mt-1 w-52 | border-2 border-blue-icons rounded-md | transition-shadow duration-200| focus:shadow-lg focus:outline-none focus:ring-4 focus:ring-blue-300 focus:ring-opacity-50">
                    </div>

                    {% if messages %} {% for message in messages %} {% if message.tags == 'error' %}
                        <p class="text-left text-red-500">
                            {{ message }}
                        </p>
                    {% endif %} {% endfor %} {% endif %}
                    <div class="">
                        <button
                                type="submit"
                                class="flex justify-center items-center | px-10 py-2 mt-5 mx-auto   | text-white font-nunito text-lg bg-green-400 | transition-all ease-in-out duration-200 hover:bg-green-500 | hover:shadow-xl focus:outline-none focus:ring-4 focus:ring-green-300 focus:ring-opacity-50 | rounded-2xl shadow-lg"
                        >
                        <img class=" w-5 mr-2" src="{% static 'icons/login_icon.svg' %}"> Ingresar
                        </button>
                    </div>
                </form>
                <div class="mt-10 text-center">
                    <p class="mb-4">¿Aún no tienes una cuenta?</p>
                    <a href="{% url 'register' %}"
                    class="px-3 py-1 | text-white font-nunito text-md bg-blue-500 | transition-all duration-200 ease-in-out duration-150 hover:bg-blue-600 | hover:shadow-xl focus:outline-none focus:ring-4 focus:ring-blue-300 focus:ring-opacity-50 | rounded-3xl shadow-lg">
                        Registrarse
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
