{% load static %}
<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse - Django Store</title>
    <link rel="shortcut icon" href="{% static 'icons/add-user.svg' %}" />
    {#---------- Google fonts ----------#}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Nunito&display=swap" rel="stylesheet">
    {#----------------------------------#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/globals-styles.css' %}">

</head>

<body class="bg-gray-100 font-nunito">
    <div class=" mt-10 m-auto max-w-min bg-white rounded-lg shadow-xl">
        <h1 class="text-center text-4xl pt-10 pb-5">Registrarse</h1>

        <div class="flex justify-center">
            <div class="flex justify-center items-center">
                
                <div class="px-20 pb-10 pt-5 text-center">
                    <img class="max-w-7rem mb-5 m-auto" src="{% static 'icons/add-user.svg' %}" alt=""> 
                
                    
                    <form method="post">
                        {% csrf_token %}

                        <div>
                            <label class="block text-left " for="username">Nombre de usuario</label>
                            {{ form.username }}
                        </div>
                        
                        <div>
                            <label class="block text-left " for="email">Email</label>
                            {{ form.email }}
                        </div>
                        
                        <div>
                            <label class="block text-left " for="password">Contraseña</label>
                            {{ form.password }}
                        </div> 
                        
                        <div class="text-center">
                            <button type="submit" class="px-10 py-2 mt-5 | text-white font-nunito text-lg bg-green-400 | transition-all ease-in-out duration-200 hover:bg-green-500 | hover:shadow-xl focus:outline-none focus:ring-4 focus:ring-green-300 focus:ring-opacity-50 | rounded-2xl shadow-lg">
                                Registrarse
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</body>
</html>